<div class="d-flex flex-row w-100 px-2 pt-4">
  <div class="d-flex w-100 mr-5">
    <app-details
      class="w-100"
      [measurement]="measurement"
      [offTachymetry]=""
      (picketChanged)="onPicketChanged($event)"
      (showTachymetry)="onShowTachymetry($event)"
    >
    </app-details>
  </div>
  <div class="d-flex w-100">
    <app-map
      [heightMap]="'750px'"
      [pickets]="measurement.pickets"
      [currentDisplayedLatitude]="currentDisplayedLatitude"
      [currentDisplayedLongitude]="currentDisplayedLongitude"
      [zoom]="zoom"
      [pathsList]="pathsList"
      (lineClicked)="onLineClicked($event)"
    >
    </app-map>
  </div>
</div>
