<div class="d-flex flex-row w-100 px-2 pt-4">
  <div class="d-flex w-100 mr-5">
    <app-details
      class="w-100"
      [measurement]="measurement"
      (picketChanged)="onPicketChanged($event)"
      (showTachymetry)="onShowTachymetry($event)"
      (showGeodeticObjects)="onShowGeodeticObjects($event)"
    >
    </app-details>
  </div>
  <div class="d-flex w-75">
    <app-map
      [heightMap]="mapHeight"
      [widthMap]="mapWidth"
      [pickets]="measurement.pickets"
      [currentDisplayedLatitude]="currentDisplayedLatitude"
      [currentDisplayedLongitude]="currentDisplayedLongitude"
      [zoom]="zoom"
      [measuredTachymetryPickets]="measuredTachymetryPickets"
      [objectsSaved]="geodeticObjects"
      (tachymetryLineClicked)="onLineClicked($event)"
      (objectLineClicked)="onGeodeticObjectLineClicked($event)"
    >
    </app-map>
  </div>
</div>
