<agm-map
  [latitude]="currentDisplayedLatitude"
  [longitude]="currentDisplayedLongitude"
  [zoom]="zoom"
  [fullscreenControl]="true"
  [fullscreenControlOptions]="{ position: 10 }"
  [mapTypeControl]="true"
  [mapTypeControlOptions]="{ mapTypeIds: ['roadmap', 'hybrid', 'satellite', 'terrain'], style: 2 }"
  [disableDoubleClickZoom]="disableDoubleClickZoom"
  [ngStyle]="{ 'height': heightMap, 'width': widthMap }"
  (mapDblClick)="onMapDblClicked($event)"
>
  <agm-marker
    *ngFor="let picket of pickets; let i = index"
    [title]="picket.picketInternalId"
    [agmFitBounds]="true"
    [label]="{
		  color: getLabelColor(picket.picketInternalId),
		  fontWeight: 'bold',
		  text: picket.name
	  }"
    [latitude]="picket.latitude"
    [longitude]="picket.longitude"
    [iconUrl]="{ url: iconUrl, labelOrigin: {x:10,y:22} }"
    (markerClick)="onMarkerClicked($event, i)"
    (markerRightClick)="onMarkerRightClicked(picket, i)"
  ></agm-marker>
  <agm-polygon
    *ngFor="let lineDetails of measuredTachymetryPickets"
    [clickable]="true"
    [paths]="lineDetails.path"
    (polyClick)="onLineClicked($event, lineDetails)"
  ></agm-polygon>
  <agm-polyline [strokeColor]="'#2196f3'">
    <agm-polyline-point
      *ngFor="let point of editedObject.objectPath"
      [latitude]="point.lat"
      [longitude]="point.lng"
    >
    </agm-polyline-point>
  </agm-polyline>
  <agm-polyline
    *ngFor="let object of objectsSaved"
    [strokeColor]="object.color"
    (lineClick)="onObjectLineClicked(object)"
  >
    <agm-polyline-point
      [latitude]="object.singleLines[0].startPicket.latitude"
      [longitude]="object.singleLines[0].startPicket.longitude"
    >
    </agm-polyline-point>
    <agm-polyline-point
      *ngFor="let point of object.singleLines"
      [latitude]="point.endPicket.latitude"
      [longitude]="point.endPicket.longitude"
    >
    </agm-polyline-point>
  </agm-polyline>
</agm-map>
