<agm-map
  [latitude]="currentDisplayedLatitude"
  [longitude]="currentDisplayedLongitude"
  [zoom]="zoom"
  [fullscreenControl]="true"
  [fullscreenControlOptions]="{ position: 10 }"
  [mapTypeControl]="true"
  [mapTypeControlOptions]="{ mapTypeIds: ['roadmap', 'hybrid', 'satellite', 'terrain'], style: 2 }"
  [ngStyle]="{ 'height': heightMap, 'width': widthMap }"
>
  <agm-marker
    *ngFor="let picket of pickets"
    [title]="picket.name"
    [label]="picket.picketInternalId"
    [latitude]="picket.coordinateY"
    [longitude]="picket.coordinateX"
  ></agm-marker>
</agm-map>
