input.ng-invalid.ng-touched {
  border: solid 1px red;
}

.pickets-table-form {
  height: 50vh;
}

.district-select-dropdown {
  height: 42vh;
  overflow-y: auto;
}

.object-creation-switch:hover {
  cursor: pointer;
}
