<div class="p-4">
  <h3 class="pb-3">Edit measurement</h3>
  <form [formGroup]="measurementForm" (ngSubmit)="onSubmit()">
    <div class="d-flex flex-row">
      <div class="d-flex flex-column w-100 mr-3">
        <div class="form-group">
          <div class="d-flex flex-row align-items-baseline">
            <label for="name" class="mr-3">Name:</label>
            <input
              type="text"
              class="form-control w-75"
              id="name"
              aria-describedby="measurementHelp"
              placeholder="Enter name"
              formControlName="name"
            >
          </div>
          <span *ngIf="!name.valid && name.touched" class="help-block">
            <span *ngIf="name.errors['required']" class="error-message mt-1">
              The measurements name is required!
            </span>
          </span>
          <small *ngIf="!name.touched" id="measurementHelp" class="form-text text-muted">Enter the name of the
            measurement.
          </small>
        </div>
        <div class="form-group">
          <div class="d-flex flex-row align-items-baseline">
            <label for="place" class="mr-3">Place:</label>
            <input
              type="text"
              class="form-control w-75"
              id="place"
              placeholder="Enter place"
              formControlName="place"
            >
          </div>
          <span *ngIf="!place.valid && place.touched" class="help-block">
            <span *ngIf="place.errors['required']" class="error-message mt-1">
              The measurements place is required!
            </span>
          </span>
        </div>
        <div class="form-group">
          <div class="d-flex flex-row align-items-baseline">
            <label for="owner" class="mr-2">Owner:</label>
            <input
              type="text"
              class="form-control w-75"
              id="owner"
              placeholder="Enter owner"
              aria-describedby="ownerHelp"
              formControlName="owner"
            >
          </div>
          <span *ngIf="!owner.valid && owner.touched" class="help-block">
            <span *ngIf="owner.errors['required']" class="error-message mt-1">
              The measurements owner is required!
            </span>
          </span>
          <small *ngIf="!owner.touched" id="ownerHelp" class="form-text text-muted">Enter the name of the owner who took
            the measurement.</small>
        </div>
        <div class="d-flex flex-row align-items-baseline">
          <div class="mb-1 mr-2">District:</div>
          <div ngbDropdown class="d-inline-block mb-3">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{ getDistrict() }}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="district-select-dropdown">
              <button
                *ngFor="let district of districts"
                (click)="onChangeDistrict(district)"
                ngbDropdownItem
              >
                {{ district.name }}
              </button>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column w-100 pickets-table-form">
          <label class="mb-2 pt-2">Pickets:</label>
          <div formArrayName="pickets" class="mb-2 overflow-auto">
            <div
              class="form-group"
              *ngFor="let picketControl of pickets; let i = index"
            >
              <div class="d-flex flex-row" [formGroup]="picketControl">
                <div class="form-group w-50 mr-2">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Picket name"
                    formControlName="name"
                  >
                </div>
                <div class="form-group w-50 mr-2">
                  <input
                    type="number"
                    class="form-control"
                    placeholder="X in 2000"
                    formControlName="coordinateX2000"
                  >
                </div>
                <div class="form-group w-50 mr-2">
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Y in 2000"
                    formControlName="coordinateY2000"
                  >
                </div>
                <div class="form-group w-75 mr-2">
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Longitude"
                    formControlName="longitude"
                  >
                </div>
                <div class="form-group w-75 mr-2">
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Latitude"
                    formControlName="latitude"
                  >
                </div>
                <button
                  type="button"
                  (click)="onRemovePicket(i)"
                  class="close h-100 pt-2 pr-2"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
          </div>
          <div class="d-flex flex-row">
            <button
              class="btn btn-primary mr-2 w-25"
              type="button"
              (click)="createEmptyPicketForm()"
            >
              Add picket
            </button>
            <button
              [routerLink]="['/tachymetry', measurement.measurementInternalId]"
              class="btn btn-primary w-25 mr-2"
            >
              Add tachymetry
            </button>
            <button
              class="btn btn-primary w-25 mr-2"
              type="submit"
              [disabled]="measurementForm.invalid"
            >
              Save changes
            </button>
            <div class="form-group d-flex flex-row mb-0 pt-1">
              <input type="file" class="form-control-file w-100" id="exampleFormControlFile1">
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex w-100">
        <app-map
          [pickets]="copyPicket"
          [heightMap]="'700px'"
          [widthMap]="'900px'"
          [disableDoubleClickZoom]="true"
          (picketAdded)="onPicketAddedFromMap($event)"
          (picketEdited)="onPicketEditedFromMap($event)"
        >
        </app-map>
      </div>
    </div>
  </form>
</div>
