@import '../../../../assets/css/colors';

.measurement-item-label {
  font-size: 15px;
  font-weight: 500;
}

.measurement-row {
  border-bottom: solid 1px $grayscale-3;
}

.options-button {
  background: none;
  border: none;
}

.options-body {
  top: 8px !important;
  left: 13px !important;
}
