<div class="d-flex flex-row flex-wrap navigation-bar p-4 align-content-center">
  <span
    class="mr-3"
    (click)="showSpinner()"
    [routerLink]="['']"
    [routerLinkActive]="'nav-link-clicked'"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Dashboard
  </span>
  <span class="mr-3" (click)="showSpinner()" [routerLink]="['/measurements']" [routerLinkActive]="'nav-link-clicked'">Measurements</span>
  <span class="mr-3" (click)="showSpinner()" [routerLink]="['/create-new']" [routerLinkActive]="'nav-link-clicked'">Create new</span>
  <span class="mr-3" (click)="showSpinner()" [routerLink]="['/history']" [routerLinkActive]="'nav-link-clicked'">History</span>
  <span class="mr-3" (click)="showSpinner()" [routerLink]="['/tachymetry']" [routerLinkActive]="'nav-link-clicked'">Tachymetry</span>
</div>
