<div class="d-flex flex-row flex-wrap navigation-bar p-4">
  <span
    class="mr-3"
    [routerLink]="['']"
    [routerLinkActive]="'nav-link-clicked'"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Dashboard
  </span>
  <span class="mr-3" [routerLink]="['/measurements']" [routerLinkActive]="'nav-link-clicked'">Measurements</span>
  <span class="mr-3" [routerLink]="['/create-new']" [routerLinkActive]="'nav-link-clicked'">Create new</span>
  <span class="mr-3" [routerLink]="['/history']" [routerLinkActive]="'nav-link-clicked'">History</span>
</div>
