<div class="p-4">
  <h3 class="pb-3">Create new measurement</h3>
  <form [formGroup]="measurementForm">
    <div class="d-flex flex-row">
      <div class="d-flex flex-column w-100 mr-3">
        <div class="form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            class="form-control w-75"
            id="name"
            aria-describedby="measurementHelp"
            placeholder="Enter name"
            formControlName="name"
          >
          <span *ngIf="!name.valid && name.touched" class="help-block">
        <span *ngIf="name.errors['required']" class="error-message mt-1">
          The measurements name is required!
        </span>
      </span>
          <small *ngIf="!name.touched" id="measurementHelp" class="form-text text-muted">Enter the name of the
            measurement.</small>
        </div>
        <div class="form-group">
          <label for="place">Place:</label>
          <input
            type="text"
            class="form-control w-75"
            id="place"
            placeholder="Enter place"
            formControlName="place"
          >
          <span *ngIf="!place.valid && place.touched" class="help-block">
          <span *ngIf="place.errors['required']" class="error-message mt-1">
            The measurements place is required!
          </span>
        </span>
        </div>
        <div class="form-group">
          <label for="owner">Owner:</label>
          <input
            type="text"
            class="form-control w-75"
            id="owner"
            placeholder="Enter owner"
            aria-describedby="ownerHelp"
            formControlName="owner"
          >
          <span *ngIf="!owner.valid && owner.touched" class="help-block">
            <span *ngIf="owner.errors['required']" class="error-message mt-1">
              The measurements owner is required!
            </span>
          </span>
          <small *ngIf="!owner.touched" id="ownerHelp" class="form-text text-muted">Enter the name of the owner who took
            the measurement.
          </small>
        </div>
        <div class="mb-1">District:</div>
        <div ngbDropdown class="d-inline-block mb-3">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{ getDistrict() }}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="district-select-dropdown">
            <button
              *ngFor="let district of districts"
              (click)="onChangeDistrict(district)"
              ngbDropdownItem
            >
              {{ district.name }}
            </button>
          </div>
        </div>
        <button
          class="btn btn-primary w-25"
          (click)="onSubmit()"
          [disabled]="measurementForm.invalid || measurementForm.untouched"
        >
          Create measurement
        </button>
        <div class="form-group d-flex flex-column mb-2 pt-2">
          <input
            type="file"
            style="display: none"
            #attachments
            (change)="uploadFile($event)"
            class="form-control-file w-100"
            #fileInput
            multiple="true"
          >
          <div *ngFor="let selected of listOfFiles; let index = index" class="d-flex flex-row">
            <div class="mr-1"><strong><em>{{selected}}</em></strong></div>
            <div (click)="removeSelectedFile(index)">
              <em class="fas fa-trash-alt"></em>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column w-100 pickets-table-form">
        <label class="mb-2">Pickets:</label>
        <div formArrayName="pickets" class="mb-2 overflow-auto">
          <div
            class="form-group"
            *ngFor="let picketControl of pickets; let i = index"
          >
            <div class="d-flex flex-row" [formGroup]="picketControl">
              <div class="form-group w-100 mr-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter name"
                  formControlName="name"
                >
              </div>
              <div class="form-group w-75 mr-2">
                <input
                  type="number"
                  class="form-control"
                  placeholder="Enter coordinate X in 2000"
                  formControlName="coordinateX2000"
                >
              </div>
              <div class="form-group w-75 mr-2">
                <input
                  type="number"
                  class="form-control"
                  placeholder="Enter coordinate Y in 2000"
                  formControlName="coordinateY2000"
                >
              </div>
              <button
                type="button"
                (click)="onRemovePicket(i)"
                class="close h-100 pt-2 pr-2"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row">
          <button
            class="btn btn-primary mr-2 w-25"
            type="button"
            (click)="onAddPicket()"
          >
            Add picket
          </button>
          <button
            class="btn btn-primary mr-2 w-25"
            type="button"
            (click)="fileInput.click()">
            Upload pickets
          </button>
          <button
            type="button"
            class="btn btn-primary mr-2"
            placement="right"
            ngbTooltip="Only supported file type is txt. The first column is supposed to have picket name, the second - value of coordinate X and
             the third one - value of coordinate Y. Each picket should be placed in separate line and each
              column should have one space break beetwen each other. Example:
              picket1 34.32222 67.444344\n
              picket2 33.32272 83.4446344\n"
            tooltipClass="tooltip-body"
          >
            ?
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
