input.ng-invalid.ng-touched {
  border: solid 1px red;
}

.pickets-table-form {
  height: 80vh;
}

.tooltip-body .tooltip-inner {
  background-color: #0099ff;
}
.tooltip-body .arrow::before {
  border-top-color: deepskyblue;
}
