@import '../../../../assets/css/colors';

tr:hover {
  cursor: pointer;
  background: $grayscale-4 !important;
}

th {
  border-bottom: none !important;
}

tbody {
  display: block;
  max-height: 53vh;
  overflow-y: auto;
}

thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead {
  width: calc(100% - 1em)
}

thead.th:hover {
  cursor: default !important;
  background: white !important;
  margin-right: 0 !important;
}

.selected-picket {
  background: $grayscale-4;
}
