@import '../../../../assets/css/colors';

tr:hover {
  cursor: pointer;
  background: $grayscale-4 !important;
}

th {
  border-bottom: none !important;
}

.table-scrollbar {
  position: relative;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

.selected-picket {
  background: $grayscale-4;
}
