@import '../../../assets/css/colors';

.measurement-item {
  border-bottom: solid 1px $grayscale-5;
}

.measurement-item-clicked {
  background: $grayscale-5;
}

.measurement-item:hover {
  background: $grayscale-5;
  cursor: pointer;
}

.measurement-item-label {
  font-size: 18px;
}

.measurement-item-details {
  font-size: 13px;
}
