<div class="modal-content">
  <form [formGroup]="picketForm" (ngSubmit)="onSubmit()">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Create new picket</h5>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismissAll('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

      <div class="d-flex flex-column w-100 mr-3">
        <div class="form-group">
          <label for="name">Picket name:</label>
          <input
            type="text"
            class="form-control w-75"
            id="name"
            placeholder="Enter picket name"
            formControlName="name"
          >
          <span *ngIf="!name.valid && name.touched" class="help-block">
            <span *ngIf="name.errors['required']" class="error-message mt-1">
              The picket name is required!
            </span>
          </span>
        </div>
        <div class="form-group">
          <label for="longitude">Longitude:</label>
          <input
            type="number"
            class="form-control w-75"
            id="longitude"
            placeholder="Enter longitude"
            formControlName="longitude"
          >
          <span *ngIf="!longitude.valid && longitude.touched" class="help-block">
            <span *ngIf="longitude.errors['required']" class="error-message mt-1">
              Longitude is required!
            </span>
          </span>
        </div>
        <div class="form-group">
          <label for="latitude">Latitude:</label>
          <input
            type="number"
            class="form-control w-75"
            id="latitude"
            placeholder="Enter latitude"
            formControlName="latitude"
          >
          <span *ngIf="!latitude.valid && latitude.touched" class="help-block">
            <span *ngIf="latitude.errors['required']" class="error-message mt-1">
              Latitude is required!
            </span>
          </span>
        </div>
      </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="picketForm.invalid"
    >
      Save changes
    </button>
  </div>
  </form>
</div>
